@use '@angular/material' as mat;

@include mat.core();
// Define your custom green palette
$my-palette: (
  50: #E8F5E9,
  100: #C8E6C9,
  200: #A5D6A7,
  300: #81C784,
  400: #66BB6A,
  500: #4CAF50,
  600: #43A047,
  700: #388E3C,
  800: #2E7D32,
  900: #1B5E20,
  A100: #B9F6CA,
  A200: #69F0AE,
  A400: #00E676,
  A700: #00C853,
  contrast: (
    50: rgba(#000000, 0.1),
    // Adjust contrast colors as needed
  )
);

// Define your light theme using the custom green palette
$light-theme: mat.define-light-theme(
    (
      color: (
        primary: mat.define-palette($my-palette, 500),
        accent: mat.define-palette($my-palette, 100),
        warn: mat.define-palette($my-palette, 400),
      ),
      typography: mat.define-typography-config(),
      density: 0, // Adjust density if needed
    )
);

@include mat.all-component-themes($light-theme);

