<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="drawer.toggle()" *ngIf="isLoggedIn" >
    <mat-icon  aria-hidden="false" fontIcon="menu"></mat-icon>
  </button>
    <a class="title" href="/"><img src="/assets/images/axing_logo_fekvo.png" id="toolbar-logo"
                                   class="p-3"></a>


  <a *ngIf="isLoggedIn" mat-button [routerLink]="['home']">Home</a>
  <a *ngIf="isLoggedIn" mat-button [routerLink]="['app']">App</a>
  <a *ngIf="isLoggedIn" mat-button [routerLink]="['profile']">Profile</a>

  <div class="toolbar-login-container">
    <button mat-raised-button *ngIf="!isLoggedIn" (click)="login()">Login</button>
    <button mat-raised-button *ngIf="isLoggedIn" (click)="logout()" style="margin-left: 0.5em;">Logout</button>
  </div>
</mat-toolbar>
<mat-drawer-container class="h-100" autosize>
  <mat-drawer #drawer opened mode="side">
    <mat-nav-list *ngIf="isLoggedIn" >
      <a mat-list-item [routerLink]="['home']">Home</a>
      <a mat-list-item [routerLink]="['app']">App</a>
      <a mat-list-item [routerLink]="['profile']">Profile</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">

    <div class="container" *ngIf="isLoggedIn">
      <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
