<mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <a *ngIf="isLoggedIn" mat-button [routerLink]="['home']">Welcome</a>
  <a *ngIf="isLoggedIn" mat-button [routerLink]="['app']">App</a>
  <a *ngIf="isLoggedIn" mat-button [routerLink]="['profile']">Profile</a>
  
  <div class="toolbar-login-container">
    <button mat-raised-button *ngIf="!isLoggedIn" (click)="login()">Login</button>
    <button mat-raised-button *ngIf="isLoggedIn" (click)="logout()" style="margin-left: 0.5em;">Logout</button>
  </div>



</mat-toolbar>
<div class="container" *ngIf="isLoggedIn">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet></router-outlet>
</div>
