<style>
  #sidebar {
  }
</style>
<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="drawer.toggle()" *ngIf="isLoggedIn" >
    <mat-icon  aria-hidden="false" fontIcon="menu"></mat-icon>
  </button>
    <a class="title" href="/"><img src="/assets/images/logo.png" id="toolbar-logo"
                                   class="p-3"></a>


  <a *ngIf="isLoggedIn" mat-button [routerLink]="['home']">Home</a>
  <a *ngIf="isLoggedIn" mat-button [routerLink]="['profile']">Profile</a>

  <div class="toolbar-login-container">
    <button mat-raised-button *ngIf="!isLoggedIn" (click)="login()">Login</button>
    <button mat-raised-button *ngIf="isLoggedIn" (click)="logout()" style="margin-left: 0.5em;">Logout</button>
  </div>
</mat-toolbar>
<mat-drawer-container autosize id="sidebar">
  <mat-drawer #drawer opened mode="side">
    <app-navigation *ngIf="isLoggedIn"></app-navigation>
  </mat-drawer>

  <div class="sidenav-content">
    <div class="container" *ngIf="isLoggedIn">
      <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
